.form-control {
  min-width: 200px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.mat-form-field {
  width: 100%;
}
.alcohol-options {
  display: block;
}
.alcohol-type-icon {
  vertical-align: middle;
  width: 22px;
}
.title {
  width: 80%;
  margin: 0 auto;
}
.drink-slider {
  height: 300px;
  margin-left: calc(50% - 2rem);
}
