.mat-form-field {
  display: inline;
  width: 100%;
}
.group-icon {
  vertical-align: middle;
  width: 24px;
}
.groups-card:focus-within {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
