.header {
  width: 100%;
  text-align: center;
}
.title {
  display: inline-block;
  margin-top: 30px;
  font-size: xx-large;
}
.settings {
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}
.user-icon {
  width: 32px;
  border: 2px solid #f5a623;
  border-radius: 15px;
}
