.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.left {
  width: 47px;
}
.logo {
  margin-top: 7px;
}
.settings {
  margin-top: 15px;
  margin-right: 15px;
  font-size: 40px;
  width: 32px;
}
