.mat-card-title {
  font-size: x-large;
  margin-bottom: 25px;
}
.mat-form-field {
  display: block;
  border-radius: 25px;
}
.mat-button {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: large;
}
