<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1 class="title">Login</h1>
  <mat-form-field class="auth-form-field" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="teteleking@esiee-amiens.fr.."
    />
  </mat-form-field>
  <mat-form-field class="auth-form-field" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="calliope69!"
    />
  </mat-form-field>
  <button
    class="submit-form-field"
    mat-flat-button
    [disabled]="!loginForm.valid"
  >
    Connect
  </button>
  <div class="footer">
    <a><small>Not regitered yet ? </small></a>
    <a class="redirect-register-button" routerLink="/register"
      ><small>Sign up</small></a
    >
  </div>
</form>
