.mat-form-field {
  display: inline;
  width: 100%;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep .mat-autocomplete-panel {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
