.dashboard {
  white-space: 10px;
  margin-bottom: -16px;
}
.mat-card {
  margin-bottom: 50px;
}
.groups-card {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.title {
  width: 65%;
  margin: 0 auto;
}
