// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "@ng-matero/extensions" as mtx;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-accent: mat.define-palette(mat.$indigo-palette, 400);
$light-primary: mat.define-palette(mat.$yellow-palette, 700);
$typography: mat.define-typography-config(
  $font-family: "quicksand",
);

// The warn palette is optional (defaults to red).
$soulac-front-warn: mat.define-palette(mat.$orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$soulac-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $soulac-front-warn,
    ),
    typography: $typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($soulac-front-theme);
@include mtx.all-component-themes($soulac-front-theme);
@include mtx.all-experimental-component-themes($soulac-front-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: url("./assets/wave2.svg");
}
body {
  margin: 0;
  font-family: "quicksand" !important;
  font-weight: lighter;
}
.mat-card {
  overflow: hidden;
  min-width: 200px;
  width: 80%;
  margin: 0 auto;
  background-color: #ffecc5;
  border-radius: 15px !important;
  box-shadow: -1.2px 0px 5px rgba(0, 0, 0, 0.164) !important;
  padding: 0px !important;
}

.mat-autocomplete-panel {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.mat-form-field-underline {
  display: none;
}
.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.mat-table {
  background-color: #ffecc500;
}
.mat-form-field {
  color: rgb(255, 255, 255);
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #4a62ad;
}
.mat-form-field-label {
  color: white;
}
.mat-paginator {
  background-color: #4a62ad;
  color: white;
}
.mat-select-arrow {
  color: white;
}
.mat-select-value {
  color: white;
}
.mat-flat-button.mat-button-disabled.mat-button-disabled {
  color: white;
  background-color: #2b3d7648;
}
.mat-flat-button {
  color: white;
  background-color: #4a62ad;
}
.mat-flat-button:hover {
  color: white;
  background-color: #2c458d;
}

.auth-form {
  min-width: 200px;
  width: 25%;
  margin-top: 15vh;
  text-align: center;
}
.user-icon {
  width: 32px;
  border: 2px solid #f7be4b;
  border-radius: 15px;
}
.alcohol-type-icon {
  vertical-align: middle;
  width: 22px;
}
.dashboard {
  white-space: 10px;
  margin-bottom: -16px;
}
.title {
  width: 80% !important;
  margin: 0 auto !important;
  text-shadow: -1.2px 0px 0 #ffecc5;
  // text-shadow: -1px 0px 0 rgba(0, 0, 0, 0.25);
  font-family: "quicksand-bold" !important;
  font-weight: bold !important;
  letter-spacing: -1.2px !important;
  color: #4a62ad;
}
